@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(188, 163, 127, 0.3);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}
 
::-webkit-scrollbar-thumb {
  background: #1a1a1a; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BCA37F; 
}
